= render "layouts/categories"
.main_content
	#recipe_top.row		
		.col-md-4
			= image_tag @recipe.image.url(:medium), class: "recipe_image"
		.col-md-8
			#recipe_info
				%h1= @recipe.title
				%p.description= @recipe.description
				- if @recipe.categories.any?
					%p Categories: 
					= render @recipe.categories
				%p
					Submitted by
					= @recipe.user.email
				%p
					Total Views:
					= @recipe.hits(1.week.ago)				
	.row
		.col-md-6
			#ingredients
				#flip_ingredient
					%h2 Ingredients
				%ul#panel_ingredient
					- @recipe.ingredients.each do |ingredient|
						%li= ingredient.name

		.col-md-6
			#instructions
				#flip_instruction
					%h2 Instructions
				%ul#panel_instruction
					- @recipe.instructions.each do |instruction|
						%li= instruction.step

	.row
	- if user_signed_in?
		.col-md-6
			= render 'comments/form'	
		.col-md-5.col-sm-offset-1
			#flip_comment
				%h4
					%u All comments
			%br/
			= render 'comments/comment'
	%br/		
	.row
		.col-md-12
			= link_to "Back", root_path, class: "btn btn-info"
			- if user_signed_in? && (current_user == @recipe.user || current_user.admin?) 
				= link_to "Edit", edit_recipe_path, class: "btn btn-primary"
				= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger"
