!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TestApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  %nav.navbar.navbar-default
    .container  
      .navbar-brand= link_to "RMS", root_path
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "New Recipie", new_recipe_path
          %li= link_to "Categories", categories_path if current_user.admin?          
          %li= link_to "My Account", edit_user_registration_path
          %li= link_to "Sign Out", destroy_user_session_path, method: :delete
          %li= 'Admin' if current_user.admin?
      - else
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Sign Up", new_user_registration_path
          %li= link_to "Sign In", new_user_session_path

  
  .container
    = render "layouts/messages" 
    .btn-group
    - Category.all.each do |category|
      %button= link_to "#{category.name}", category_path(category), class:"btn btn-lg"   
      
    = yield
  = render 'layouts/footer'  
