!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TestApp
    %link{:href => "https://fonts.googleapis.com/css2?family=Russo+One&display=swap", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap", :rel => "stylesheet"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"}
  %body
  %nav.navbar.navbar-default
    .main_content  
      .navbar-brand= link_to "RMS", root_path
      %ul.nav.navbar-nav.navbar-left
        = form_tag search_recipes_path, class: "span5 for-search", method: "get" do
          %input.search-query(name="search_term" type="text" placeholder="Search for recipe!")
          %button.btn.btn-success(type="submit") Search
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "New Recipie", new_recipe_path
          %li= link_to "Categories", categories_path if current_user.admin?          
          %li= link_to "My Account", edit_user_registration_path
          %li= link_to "Sign Out", destroy_user_session_path, method: :delete
          %li= 'Admin' if current_user.admin?
      - else
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Sign Up", new_user_registration_path
          %li= link_to "Sign In", new_user_session_path 

  
  .container
    = render "layouts/messages"   
      
    = yield
  = render 'layouts/footer'  
